@import "../../global.scss";

.join-container {
    max-width: 800px;
    display: block;
    margin: auto;
    h1 {
        text-align: center;
        font-size: 45px;
        margin: 5px;
    }
    input {
        width: 97.5%;
        font-size: 35px;
        background-color: #323333;
        outline: none;
        text-align: center;
        color: $color2;
        padding: 1%;
        border: 2px solid $color;
    }
    button {
        background-color: #3c3c3c;
        width: 100%;
        font-size: 35px;
        height: 45px;
        border: 2px solid $color;
        font-weight: 800;
        &:hover {
            background-color: #3f3f3f;
        }
    }
}