$color: #23df75;
$color2: #5fd192;
$color2-secret: #50ad7a;
$chat-white: #dedddd;

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: $chat-white;
    margin: 0;
    padding: 0;
}
body {
    background-color: #3f3e3e;
}
.no-page {
    h1 {
        text-align: center;
    }
}
h2 {
  font-style: italic;
  text-shadow: 1px 1px 1px rgb(26, 126, 129);
  span {
      color: #61DBFB;
  }
  text-align: right;
}
.kicked {
  h1 {
    text-align: center;
  }
}

::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    background: #464646; 
  }
   
  ::-webkit-scrollbar-thumb {
    background:#2fb669; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #24da73; 
  }

@media only screen and (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 10px;
  }
}