@import "../../global.scss";

.chat-container {
    display: block;
    margin: auto;
    max-width: 800px;
    border: 2px solid $color;
    border-radius: 5px;
    padding: 5px;
    h1 {
        background-color: #323333;
        text-align: center;
        font-size: 2vh;
    }
    .title {
        font-size: 3vh;
    }
    .chat-content {
        background-color: #323333;
        border: 2px solid $color;
        padding: 5px;
        height: 400px;
        overflow-y: auto;
        p {
            font-size: 25px;
            padding: 5px;
            background-color: #282929;
            &:nth-child(2n) {
                background-color: #323232;
            }
            strong {
                color: $color2;
            }
        }
        .system-msg {
            color: aqua;
        }
        .whisper-sender {
            color: $color2-secret;
        }
        .cmd {
            color: #ffffff;
            background-color: #161717;
        }
        .whisper {
            color: gray;
            font-style: italic;
        }
    }
    form {
        input {
            width: 97.5%;
            font-size: 25px;
            background-color: #323333;
            outline: none;
            padding: 1%;
            border: 2px solid $color;
        }
        button {
            background-color: #323333;
            width: 100%;
            font-size: 25px;
            height: 45px;
            border: 2px solid $color;
            font-weight: 700;
            text-shadow: 3px 3px 1px black;
            &:hover {
                background-color: #3f3f3f;
            }
        }
        .usrname {
            text-align: center;
            font-size: 30px;
            padding: 1%;
            width: 97.5%;
            color: $color2;
        }
    }
}

@media only screen and (max-width: 600px) {
    .chat-container {
        display: block;
        margin: auto;
        max-width: 800px;
        border: 2px solid $color;
        border-radius: 5px;
        padding: 5px;
        h1 {
            //background-color: #323333;
            text-align: center;
            font-size: 2.2vh;
            margin-bottom: 1vh;
        }
        .title {
            font-size: 3vh;
        }
        .chat-content {
            background-color: #323333;
            border: 2px solid $color;
            padding: 5px;
            height: 400px;
            overflow-y: auto;
            p {
                font-size: 2.5vh;
                padding: 5px;
                background-color: #282929;
                &:nth-child(2n) {
                    background-color: #323232;
                }
                strong {
                    color: $color2;
                }
            }
            .system-msg {
                color: aqua;
                font-size: 2.5vh;
            }
            .whisper-sender {
                color: $color2-secret;
                font-size: 2.5vh;
            }
            .cmd {
                color: #ffffff;
                background-color: #161717;
                font-size: 2.5vh;
            }
            .whisper {
                color: gray;
                font-style: italic;
                font-size: 2.5vh;
            }
        }
        form {
            input {
                width: 97%;
                font-size: 3vh;
                background-color: #323333;
                outline: none;
                padding: 1%;
                justify-self: center;
                //border: 2px solid $color;
                outline: 0;
                //padding-inline: 0;
            }
            button {
                background-color: #323333;
                width: 100%;
                font-size: 3vh;
                height: 45px;
                border: 2px solid $color;
                font-weight: 700;
                &:hover {
                    background-color: #3f3f3f;
                }
            }
            .usrname {
                text-align: center;
                font-size: 30px;
                padding: 1%;
                width: 97.5%;
                color: $color2;
            }
        }
        h2 {
            font-size: 2.2vh;
        }
    }    
}